<h1>FOOD PAGE</h1>
<div class = ''>
  <button class = "">
   <%= link_to "Add food", new_food_path, id: "add-food" %>
  </button>
  <div class = ''>
    <table>
      <tr>
        <th>Food</th>
        <th>Measurment unit</th>
        <th>Unit price</th>
        <th>Action</th>
      </tr>
      <% @foods.each do |food| %>
        <tr class = ''>
          <td> <%= food.name %> </td>
          <td> <%= food.measurmnet_units %> </td>
          <td> <%= food.price %> $</td>
           <td>
              <% if can? :destroy, food %>
                <button class = ''>
                  <%= link_to "Delete",food_path(food.id), method: :delete, data: { confirm: "Are you sure?" } %>
                </button>
          <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>