<div class = 'food-container'>
  <button class = "add-food-btn btn">
   <%= link_to "Add food", new_food_path, id: "add-food" %>
  </button>
  <div class = 'foods-container'>
    <table>
      <tr>
        <th>Food</th>
        <th>Measurment unit</th>
        <th>Unit price</th>
        <th>Action</th>
      </tr>
      <% @foods.each do |food| %>
        <tr class = 'food-list'>
          <td> <%= food.name %> </td>
          <td> <%= food.measurmnet_units %> </td>
          <td> <%= number_to_currency(food.price) %></td>
           <td>
            <button class = 'delete-btn'>
              <%= link_to "Delete",food_path(food.id), method: :delete, data: { confirm: "Are you sure?" } %>
            </button>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
