<h1>MY NEW PAGE</h1>
<div class = >
  <%= form_with model: [current_user.foods.build], class: "form" do |f| %>
      <%= f.label :food_name  %>
      <%= f.text_field :name, autofocus: true, placeholder: 'Bananas'%>
      <%= f.label :measurment_units %>
      <%= f.text_field :measurmnet_units, placeholder: 'grams'%>
      <%= f.label :price %>
      <%= f.number_field :price, placeholder: '20$' %>
    <p>
      <%= f.submit 'Add food', class: '' %>
    </p>
  <% end %>

  <div class = "">
    <button class = "">
      <%= link_to 'Back', foods_path%>
    </button>
  </div>
</div>
